[project]
name = "configurations"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "feedparser>=6.0.12",
    "requests>=2.32.5",
    "wcwidth>=0.2.14",
]
